<h1>Make one post!</h1>

<form action="/signup" method="post" style="display: flex; flex-direction: column">
  <p>Title: </p>
  
  <input type="text" name="title">

  <p>Content:</p>

  <textarea name="content"></textarea>

  <button type="submit">Submit</button>
</form>